@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
}
/* --------------
    Common Css
----------------- */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.highlight {
  color: #ff008e;
}

.primary-button {
  display: flex;
  align-items: center;
  outline: 0;
  border: 0;
  padding: 10px 24px;
  background-image: linear-gradient(900deg, #c21273, #ff008e);
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 7px 0 #a5075e;
  position: relative;
  top: 0;
}
.primary-button:active {
  top: 5px;
  box-shadow: 0 2px 0 #a5075e;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.navigation {
  display: flex;
}
.navigation li {
  list-style: none;
  margin: 10px;
}
.navigation li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 15px 10px;
}
.banner {
  height: calc(100vh - 80px);
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.banner-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.banner-left p {
  color: black;
  font-size: 18px;
  line-height: 1.5;
  margin: 20px 0;
}
.banner-left h1 {
  font-size: 45px;
  color: black;
}
.banner-right {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.banner-right img {
  width: 100%;
}
.arrow-icon {
  padding: 10px;
}
/* navbar */
#nav-toggle {
  display: none;
}
.nav-toggler-icon {
  display: none;
  color: black;
  font-size: 30px;
}

/* ----------------------
         Products
------------------------- */
.section-title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  margin-bottom: 50px;
  margin-top: 80px;
}
.section-title h2 {
  font-size: 40px;
  display: inline-block;
  margin: 50px 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.product {
  width: 300px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 30px 35px rgba(0, 0, 0, 0.15);
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  gap: 30px;
}
/* .product-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.product .product-banner img {
  width: 100%;
  height: 150px;
}
.price {
  padding-top: 10px;
  padding-bottom: 10px;
}
.product-info span {
  margin: 20px;
}
.rating {
  margin-bottom: 5px;
}
/* .product-duration {
  /* background-color: #fee5df;
  border-radius: 15px;
  padding: 5px; 
} */
.product-duration i {
  color: #ed6b4f;
}
#time {
  color: #ed6b4f;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
/* ----------------------
    See More Button 
-------------------------*/
.see-more-button {
  background-color: white;
  display: flex;
  align-items: center;
  float: right;
  outline: 0;
  border: 0;
  padding: 30px;
  color: #ff008e;
}
.see-more-button h5 {
  font-size: 16px;
}

/* contact  */
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}
.contact img {
  width: 100%;
}
.contact-right form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-field {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 18px;
  font-family: inherit;
  outline: 0;
  border: 1px solid #ff008e;
}

/* Footer */
footer {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  padding: 2%;
  background-color: #0e0d0d;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
footer p,
small,
h4 {
  align-items: center;
  color: white;
}
.card-icon {
  background-color: #aaaaaa;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 10px;
  color: #fff;
}

/* responsive css */

@media (max-width: 950px) {
  .banner-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .banner-left h1 {
    font-size: 35px;
  }
}
@media (max-width: 800px) {
  .banner {
    grid-template-columns: 1fr;
    height: fit-content;
  }
  .feature,
  .gallery,
  .contact {
    grid-template-columns: 1fr;
  }
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
  .products {
    justify-content: center;
  }

  .photo {
    text-align: center;
  }
  .photo img {
    max-width: 350px;
  }
  .banner-left {
    order: 2;
    padding: 50px 0;
  }
  .nav-toggler-icon {
    display: block;
  }
  .navigation {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px 0;
    transform: translateY(-360px);
    transition: 0.5s ease-in-out;
  }
  .navigation li a {
    color: #121212;
  }
  #nav-toggle:checked ~ .navigation {
    transform: translateY(0px);
  }
}
